@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #232323;
}

 /* Back to Previous Page CSS */

#left { 
    width: 100%;
    float: left;
}

/* Title */

.heading{
    text-align: center;
    font-size: 4em;
    margin-bottom: 15px;
    margin-top: 10%;
    color: white;
    position: relative;
    right: 7px;
    bottom: 55px;
}

/* This is the Text Color for Username and Password */

.form input[type = "text"], .form input[type = "password"]{
    color: white;
}

/* Username And Password Animation and CSS */

.form {
    width: 50%;
    position: relative;
    height: 50px;
    overflow: hidden;
}

.form input {
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 20px;
    border: none;
    outline: none;
    background-color: #232323;
}

.form label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid white; /* This is for the bottom border color. */
}


.form label::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%)
}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
    color: white; /* This is for the Text Color */
}

.form input:focus + .label-name .content-name, .form input:valid + .label-name .content-name{
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
}

.form input:focus + .label-name::after, .form input:valid + .label-name::after {
    transform: translateX(0%);
}

/* Login CSS */

.login input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    text-align: center;
    border: 2px solid white;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    margin-top: 15px;
}

.login input[type = "submit"]:hover{
    background: #999999;
}

/* Links  */

li {
    display: inline;
    padding: 0 12px;
    border-right: solid 1px;
    border-right-color: white;
}

a:link {
    color: white;
}

a:hover {
    color: #ffff00;
}

a:visited {
    color: #C2C2C2;
}

.navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 400px;
}