.navbar {
  background-color:black ;
  overflow: hidden;
  position: fixed;
  width: 100%;
}
.navbar a{
    color: rgb(102, 99, 99);
    float: left;
    display: block;
    text-align: center;
    padding: 14px;
}
